<div class="small-12 columns row search_form">
  <%= render 'errors' %>
  <h3 class="centered">Search by Zip Code</h3>
  <%= search_form_for @search do |f| %>
    <div class="small-8 columns">
      <%= f.text_field :zip_cont, placeholder: "Zip Code..." %>
    </div>
    <div class="small-4 columns">
      <%= f.submit 'Search', :class => "button postfix" %>
    </div>
  <% end %>
</div>