<div class="medium-7 columns">
  <% if flash[:notice] %>
    <div data-alert class="alert-box warning round">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% flash.delete(:notice) %>
  <%= search_form_for @search do |f| %>
    <%= f.label :zip_cont, "Zip Code:" %>
    <%= f.number_field :zip_cont %>
    <button class="button">Search Zip Code</button>
  <% end %>
</div>