<div class="large-6 columns row collapse search_form">
  <%= search_form_for @search do |f| %>
    <div class="small-8 columns">
      <%= f.text_field :zip_cont, placeholder: "Zip Code..." %>
    </div>
    <div class="small-4 columns">
      <%= f.submit 'Search Zip Code', :class => "button postfix" %>
    </div>
  <% end %>
</div>