<h3 class=" centered large-4 columns large-centered">Cuisine Index</h3>
<div class="scroll large-4 columns large-centered">
  <ul >
    <% @cuisines.sort { |a,b| a.description <=> b.description }.each do |c| %>
      <li><%= link_to c.description, cuisine_path(c) %></li>
    <% end %>
  </ul>
</div>

