<div class="medium-7 columns">
  <%= render 'errors' %>
  <h1>Hey, <%= @user.name %>.  Edit your profile here.</h1>
  <h3>And please confirm your password</h3>
  <%= render 'form' %>
  <%= link_to "Back to my profile", @user, :class => "button" %>
</div>