$(".tiny.alert.round.rest_remove").parents("div.whole_rest").remove();
// console.log(<%= j render current_user.restaurants %>)
// if(current_user.restaurants.length == 0){
//   $("h2:contains('Restaurant')").append("<p>You have no restaurants on your watchlist.</p>")
// }
