<%#= form_for @search do |f|%>
  <!-- <p>Where are you eating?</p><br> -->
  <%#= f.text_field :zip, :placeholder => "Zipcode" %>
  <%#= f.text_field :restaurant_name, :placeholder => "Restaurant Name" %>
  <%#= f.text_field :cuisine, :placeholder => "Cuisine" %>
  <%#= f.submit %>
<%# end %>