@import url("http://fonts.googleapis.com/css?family=Denk+One");

.logo {
  font-family: 'Denk One', sans-serif;
}

.destroy {
  margin: auto 0;
  color: #a88a8a;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 0;
  background: transparent;
}

#logo-content {
  text-align: center;
  vertical-align: middle;
}

#content-below-bar {
  padding-top: 0px;
  padding-left: 50px;

}
.grade {
  border: 1px solid black;
}

#map-canvas { 
  height: 300px; 
  width: 450px;
  border: 2px solid black;
  /*margin-top: 50px;*/
  /*margin-left: 35px;*/
}

span.blue {
  color: #008CBA;
}

.restaurant-info {
  text-align: center;
  /*padding-right: 100px;*/
}
#map-canvas img{ max-width: none; }
/*#map_caption {
  float: center;
  clear: center;
  margin: 10px;
}
*/